@import "reset";
@import "variables";
@import "typography";
@import "nav";
@import "data";
@import "form";

body {
	background-color: $gray-5;
}

.container {
	margin: auto;
	width: 90%;
	&.main {
		margin-top: 20px;
		margin-bottom: 40px;
		&.fixed-nav {
			margin-top: 80px;
		}
		&.with-side-bar {
			margin-left: 250px;
			padding: 0 40px;
			width: auto;
		}
	}
}

.panel {
	box-shadow: 0 3px 12px $gray-4;
	background-color: white;
	border-radius: 15px;
	margin-top: 20px;
	.panel-head {
		background-color: $primary;
		color:white;
		border-radius: 15px 15px 0 0;
	}
	.panel-content {
		padding: 30px;
	}
}

/* Modifiers */
.is-clickable {
	cursor: pointer;
}
.is-fullwidth {
	width: 100%;
}
.is-hidden {
	display: none;
}

/* Margin */
.no-mt {
	margin-top: 0 !important;
}
.no-ml {
	margin-left: 0 !important;
}
.no-mb {
	margin-bottom: 0 !important;
}
.no-mr {
	margin-right: 0 !important;
}
.no-margin {
	margin: 0 !important;
}

/* Flex */
.is-flex {
	display: flex;
}
.is-flex-fullwidth {
	flex-basis: 100%;
}
.is-ai-center {
	align-items: center;
}
.is-ai-flex-end {
	align-items: flex-end;
}
.is-ai-stretch {
	align-items: stretch;
}
.is-jc-center {
	justify-content: center;
}
.is-jc-space-between {
	justify-content: space-between
}
.is-jc-flex-end {
	justify-content: flex-end;
}
