$primary: #2573fa;
$primary-dark: #065fef;
$danger: #e64539;
$danger-dark: #d53024;
$warning: #fab600;
$warning-dark: #f0a103;
$success: #4dc252;
$success-dark: #3db13d;

$primary-fade: rgba(37, 115, 250, 0.5);
$danger-fade: rgba(230, 69, 57, 0.5);
$warning-fade: rgba(250, 182, 0, 0.5);
$success-fade: rgba(77, 194, 82, 0.5);

$gray-1: #252a34;
$gray-2: #48505f;
$gray-3: #939aa5;
$gray-4: #e9eaec;
$gray-5: #f7f8f8;

$gray-1-fade: rgba(37, 42, 52, 0.5);
$gray-2-fade: rgba(72, 80, 95, 0.5);

$base-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", "Sukhumvit Set", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

